[submodule "scripts"]
	path = scripts
	url = https://github.com/libero/scripts
[submodule "reference-manuscripts"]
	path = reference-manuscripts
	url = https://github.com/libero/reference-manuscripts
